In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler

data = pd.read_csv('example_data.csv')
data

,SAT Math,SAT Verbal,GPA,Credits earned,Family income,Days drinking (last 30 days),Income
0,4,4,252,132,135100,2,45000
1,3,3,344,135,4450,3,4200
2,3,3,231,120,75000,7,25000
3,4,5,215,125,63250,8,38000
4,2,2,111,31,55000,4,37500
...,...,...,...,...,...,...,...
723,4,4,277,121,46650,1,39000
724,4,4,378,128,60200,3,42000
725,3,2,198,89,120000,15,45000
726,4,4,221,139,158000,2,38000
727,4,6,351,113,126500,3,32000

In [2]:
data['Income'].median()

25000.0

In [3]:
data['Income level'] = data['Income'].apply(lambda x: 0 if x <= 25000 else 1)
data

,SAT Math,SAT Verbal,GPA,Credits earned,Family income,Days drinking (last 30 days),Income,Income level
0,4,4,252,132,135100,2,45000,1
1,3,3,344,135,4450,3,4200,0
2,3,3,231,120,75000,7,25000,0
3,4,5,215,125,63250,8,38000,1
4,2,2,111,31,55000,4,37500,1
...,...,...,...,...,...,...,...,...
723,4,4,277,121,46650,1,39000,1
724,4,4,378,128,60200,3,42000,1
725,3,2,198,89,120000,15,45000,1
726,4,4,221,139,158000,2,38000,1
727,4,6,351,113,126500,3,32000,1

In [4]:
# PodziaÅ‚ danych na zmienne niezaleÅ¼ne i zmiennÄ… zaleÅ¼nÄ…
X = data.drop(['Income level', 'Income'], axis=1)
y = data['Income level']

# Skalowanie danych
scaler = StandardScaler()
X = scaler.fit_transform(X)

array([[ 0.06209709,  0.06531771, -0.25556644,  0.94226459,  1.08372051,
        -0.67780352],
       [-0.84203659, -0.86706059,  0.73608051,  0.99588242, -1.12812774,
        -0.52662676],
       [-0.84203659, -0.86706059, -0.48192064,  0.72779328,  0.06625338,
         0.07808031],
       ...,
       [-0.84203659, -1.7994389 , -0.83762008,  0.17374239,  0.82808401,
         1.28749443],
       [ 0.06209709,  0.06531771, -0.58970835,  1.06737285,  1.47140765,
        -0.67780352],
       [ 0.06209709,  1.93007432,  0.8115319 ,  0.60268501,  0.93812621,
        -0.52662676]])

In [10]:
# PodziaÅ‚ danych na zbiÃ³r treningowy i zbiÃ³r testowy
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Inicjalizacja i dopasowanie modelu regresji logistycznej
model = LogisticRegression()
model.fit(X_train, y_train)

#Analiza wspÃ³Å‚czynnikÃ³w
coefficients = model.coef_[0]
intercept = model.intercept_[0]
print("WspÃ³Å‚czynniki regresji:")
print(coefficients)
print("PrzeciÄ™cie (intercept):")
print(intercept)

WspÃ³Å‚czynniki regresji:
[ 0.14004876 -0.11427224  0.0276283   0.31081947  0.59120391 -0.04075015]
PrzeciÄ™cie (intercept):
-0.045464725895054674

In [6]:
# Przewidywanie na danych testowych
y_pred = model.predict(X_test)

# WyÅ›wietlenie macierzy pomyÅ‚ek
conf_matrix = confusion_matrix(y_test, y_pred)
print("Macierz pomyÅ‚ek:")
print(conf_matrix)

Macierz pomyÅ‚ek:
[[51 20]
 [36 39]]

In [7]:
# Ocenia dokÅ‚adnoÅ›Ä‡ modelu
accuracy = accuracy_score(y_test, y_pred)
print(f'DokÅ‚adnoÅ›Ä‡ modelu: {accuracy}')

DokÅ‚adnoÅ›Ä‡ modelu: 0.6164383561643836

In [8]:
# WyÅ›wietlenie raportu klasyfikacji
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.59      0.72      0.65        71
           1       0.66      0.52      0.58        75

    accuracy                           0.62       146
   macro avg       0.62      0.62      0.61       146
weighted avg       0.62      0.62      0.61       146

In [9]:
# Precyzja mierzy odsetek prawdziwie pozytywnych przypadkÃ³w wÅ›rÃ³d wszystkich przypadkÃ³w przewidzianych jako pozytywne przez model. WyÅ¼sza precyzja oznacza, Å¼e model ma mniej faÅ‚szywych pozytywÃ³w.
# 
# CzuÅ‚oÅ›Ä‡ mierzy odsetek prawdziwie pozytywnych przypadkÃ³w wÅ›rÃ³d wszystkich rzeczywistych pozytywnych przypadkÃ³w. WyÅ¼sza czuÅ‚oÅ›Ä‡ oznacza, Å¼e model lepiej identyfikuje pozytywne przypadki.
# 
# F1-score jest Å›redniÄ… harmonicznÄ… precyzji i czuÅ‚oÅ›ci. Jest to miara, ktÃ³ra uwzglÄ™dnia zarÃ³wno precyzjÄ™, jak i czuÅ‚oÅ›Ä‡. WyÅ¼szy F1-score oznacza lepszÄ… rÃ³wnowagÄ™ miÄ™dzy precyzjÄ… a czuÅ‚oÅ›ciÄ….
# 
# Support to liczba prÃ³bek w kaÅ¼dej z klas, ktÃ³re zostaÅ‚y wykorzystane do oceny modelu.

# WartoÅ›ci precyzji sÄ… zbliÅ¼one, co oznacza, Å¼e model ma umiarkowanie dobrÄ… zdolnoÅ›Ä‡ do identyfikowania obiektÃ³w obu klas. Model jest w stanie zachowaÄ‡ stosunkowo niskÄ… liczbÄ™ faÅ‚szywych pozytywÃ³w dla obu klas.
# 
# WartoÅ›Ä‡ czuÅ‚oÅ›ci dla klasy 0 jest wyÅ¼sza niÅ¼ dla klasy 1, co oznacza, Å¼e model jest lepszy w identyfikowaniu obiektÃ³w klasy 0 niÅ¼ klasy 1. Model jest w stanie zachowaÄ‡ stosunkowo niskÄ… liczbÄ™ faÅ‚szywych negatywÃ³w dla klasy 0, ale ma pewne trudnoÅ›ci w identyfikowaniu obiektÃ³w klasy 1.
# 
# WartoÅ›ci F1-score dla obu klas sÄ… zbliÅ¼one, co oznacza, Å¼e model osiÄ…ga umiarkowanie dobrÄ… rÃ³wnowagÄ™ miÄ™dzy precyzjÄ… a czuÅ‚oÅ›ciÄ… dla obu klas.